<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tbody>
    <tr data-th-each="item : ${teams}">
        <h5><a th:href="@{'/teams/__${item.id}__'}"><span data-th-text="${item.getName()}"></span></a></h5>
        <td data-th-text="${item.getAvatar()}">...</td>
        <img th:attr="src=${item.getAvatar()}"/>
    </tr>
    </tbody>
</table>


</body>
</html>